<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>Project Nest - {% block title %}{% endblock %}</title>
</head>

<body>
    {% if nav %}
        {% block nav %}
            {% include 'components/nav.html' %}
        {% endblock %}
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
            <div class="" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% if footer %}
        {% block footer %}
            {% include 'components/footer.html' %}
        {% endblock %}
    {% endif %}
</body>

</html>